@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background-color: #00091e;
}
/* #000e09 */

.wave-emoji {
  animation: wave 5ms infinite;
}

.line
{
  background: linear-gradient(90deg, #00F0FF 50.33%, rgba(0, 238, 255, 0.113) 110.25%);
}

.line-spacing
{
  margin-left: -8px;
}

.heading
{
  background: linear-gradient(90deg, #00F0FF -27.13%, #00FF75 194.94%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}

.card_glow
{
  /* scale: 1.05; */
  transition-duration: 0.5s;
  box-shadow: 0 0 8px rgba(0, 255, 247, 0.921);
  cursor: pointer;
  border: 1px solid lightgreen
  /* transition-timing-function: ease-in-out; */
}

.button_visit {
  border-radius: 0.625rem;
  background: linear-gradient(90deg, #00F0FF -103.85%, rgba(0, 240, 255, 0.00) 186.04%);
}
.form_glow:hover
{
  /* scale: 1.05; */
  transition-duration: 0.5s;
  box-shadow: 0 0 30px rgba(0, 255, 0, 0.8);
  cursor: pointer;
  /* transition-timing-function: ; */

}

.icon_glow
{
  box-shadow: 0 0 8px cyan;
}
.icon_glow:hover
{
  box-shadow: 0 0 8px rgba(0, 255, 0, 0.8);
  rotate: 360deg;
  transition-duration: 0.7s;
}

.circle
{
  border-radius: 18.75rem;
background: rgb(0, 255, 255);
filter: blur(50px);
z-index: 3;
}




@keyframes wave {
  0%, 100% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(15deg);
  }
  75% {
    transform: rotate(-15deg);
  }
}

.wave-emoji {
  animation: wave 0.7s infinite;
}

.footer{

  background-color: black;
}