@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background-color: black;
}
/* #000e09 */

.wave-emoji {
  animation: wave 5ms infinite;
}

.heading
{
  color: lightgreen;
}

.card_glow
{
  /* scale: 1.05; */
  transition-duration: 0.5s;
  box-shadow: 0 0 12px rgba(0, 255, 0, 0.921);
  cursor: pointer;
  border: 1px solid rgba(0, 255, 0, 0.921) ;
  /* transition-timing-function: ease-in-out; */
}

.button_visit
{
  box-shadow: 0 0 20px rgba(0, 255, 0, 0.8);
  border: 1px solid #42bd7c;
}

:hover.button_visit
{
  background-color: black;
  box-shadow: none;
  border: 1px solid #38a169;
  transition-duration: 0.6s;
}

:active.button_visit
{
  background-color: black;
  box-shadow: none;
  border: 1px solid #38a169;
  transition-duration: 0.6s;
}

.form_glow:hover
{
  /* scale: 1.05; */
  transition-duration: 0.5s;
  box-shadow: 0 0 30px rgba(0, 255, 0, 0.8);
  cursor: pointer;
  /* transition-timing-function: ; */

}

.icon_glow
{
  box-shadow: 0 0 8px rgba(0, 255, 0, 0.8);
}
.icon_glow:hover
{
  box-shadow: 0 0 8px rgba(0, 255, 0, 0.8);
  rotate: 360deg;
  transition-duration: 0.7s;
}

.circle
{
  box-shadow: 0 0 30px green;
}


@keyframes wave {
  0%, 100% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(15deg);
  }
  75% {
    transform: rotate(-15deg);
  }
}

.wave-emoji {
  animation: wave 0.7s infinite;
}

.footer{

  background-color: black;
}