@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background-color: #00120c;
}


.wave-emoji {
  animation: wave 5ms infinite;
}

.card_glow:hover
{
  scale: 1.05;
  transition-duration: 0.5s;
  box-shadow: 0 0 30px rgba(0, 255, 0, 0.8);
  cursor: pointer;
  /* transition-timing-function: ease-in-out; */

}

.button_visit
{
  box-shadow: 0 0 20px rgba(0, 255, 0, 0.8);
}

.form_glow:hover
{
  /* scale: 1.05; */
  transition-duration: 0.5s;
  box-shadow: 0 0 30px rgba(0, 255, 0, 0.8);
  cursor: pointer;
  /* transition-timing-function: ; */

}

.icon_glow:hover
{
  scale: 1.2;
  transition-duration: 0.5s;
  box-shadow: 0 0 30px rgba(0, 255, 0, 0.8);
}

.circle
{
  box-shadow: 0 0 30px green;
}


@keyframes wave {
  0%, 100% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(15deg);
  }
  75% {
    transform: rotate(-15deg);
  }
}

.wave-emoji {
  animation: wave 0.7s infinite;
}

.footer{

  background-color: #00120c;
}